.contact-stars {
  background-image: url("../img/stars/pattern-contact.png");
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100vh;
}

.contact-title {
  color: var(--yellow);
  font-family: "Miller Banner";
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
}

@media (min-width: 576px) and (max-width: 991px) {
  .contact-title {
    font-size: 60px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .contact-title {
    font-size: 49px;
  }
}

.contact-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
