.domain-1 {
  background-image: url("../img/stars/star-small-orange-gd.png");
  background-repeat: no-repeat;
  background-position: right;
}

.domain-1-title {
  color: var(--white);
  font-family: "miller-banner", serif;
  font-size: 82px;
  font-style: italic;
  font-weight: 300;
  margin-top: 207px;
}

@media (min-width: 576px) and (max-width: 991px) {
  .domain-1-title {
    font-size: 60px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .domain-1-title {
    font-size: 49px;
  }
}

.domain-1-text {
  color: var(--white);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  margin-top: 47px;
  margin-bottom: 182px;
}
