.project-gd-1 {
  background-image: url("../img/stars/star-big-orange-gd-project-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.project-gd-1-arrow-home {
  margin-bottom: 23px;
  transition: transform 0.3s ease-out;
}

.project-gd-1-arrow-home:hover {
  transform: scale(1.2);
}

.project-gd-1-title {
  color: var(--orange);
  font-family: "Miller Banner";
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 19px;
}

.project-gd-1-description-1 {
  color: var(--white);
  font-weight: 400;
  margin-bottom: 172px;
}

.project-gd-1-image-2 {
  margin-top: -190px;
  margin-bottom: 125px;
  box-shadow: -5px -5px 40px 0px var(--black);
}

.project-gd-1-image-3 {
  width: 75%;
  margin-bottom: 33px;
}

.project-gd-1-description-2 {
  color: var(--white);
  font-weight: 400;
  margin-top: -600px;
}

@media (min-width: 300px) and (max-width: 991px) {
  .project-gd-1-description-2 {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.project-gd-1-next {
  display: flex;
  justify-content: space-between;
}

.project-gd-1-next-arrow {
  transition: transform 0.3s ease-out;
}

.project-gd-1-next-arrow:hover {
  transform: scale(1.2);
}

.project-gd-1-next-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.project-gd-1-next-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

.project-gd-1-next-text {
  color: var(--orange);
  font-family: "Miller Banner";
  font-weight: 300;
}
