* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Outfit;
  font-size: 18px;
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

:root {
  --yellow: #f7c667;
  --orange: #e26b40;
  --red: #61132b;
  --black: #030409;
  --blue: #1a3a9e;
  --white: #fff;
}
